#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text, #our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text, #our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text, #our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  position: relative;
}

#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text .border_line, #our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text .border_line, #our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text .border_line, #our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text .border_line {
  width: 85%;
  height: 85%;
  position: absolute;
  border: 2px solid white;
}

#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text .square, #our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text .square, #our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text .square, #our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text .square {
  position: absolute;
  bottom: 0;
  width: 7vw;
  height: 7vw;
  opacity: 1;
}

#our_services {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-rows: 20% 80%;
}
#our_services #our_services_header {
  grid-row: 1;
  line-height: 100%;
}
#our_services #our_services_cards {
  display: grid;
  grid-template-columns: calc(88% / 4) calc(88% / 4) calc(88% / 4) calc(88% / 4);
  grid-column-gap: 4%;
}
#our_services #our_services_cards .what_we_do:nth-of-type(1) {
  width: 100%;
  background: url("../images/arseny.jpg") no-repeat center;
  background-size: cover;
}
#our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text {
  background: rgba(255, 217, 102, 0.4);
}
#our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text p {
  margin-bottom: 0;
  width: 80%;
}
#our_services #our_services_cards .what_we_do:nth-of-type(1) .border_text .square {
  background: #FFDD85;
}
#our_services #our_services_cards .what_we_do:nth-of-type(2) {
  width: 100%;
  background: url("../images/arseny.jpg") no-repeat center;
  background-size: cover;
}
#our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text {
  background: rgba(204, 153, 0, 0.5);
}
#our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text p {
  margin-bottom: 0;
  width: 80%;
}
#our_services #our_services_cards .what_we_do:nth-of-type(2) .border_text .square {
  background: #BC9633;
}
#our_services #our_services_cards .what_we_do:nth-of-type(3) {
  width: 100%;
  background: url("../images/arseny.jpg") no-repeat center;
  background-size: cover;
}
#our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text {
  background: rgba(0, 122, 204, 0.4);
}
#our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text p {
  margin-bottom: 0;
  width: 80%;
}
#our_services #our_services_cards .what_we_do:nth-of-type(3) .border_text .square {
  background: #6AD1EB;
}
#our_services #our_services_cards .what_we_do:nth-of-type(4) {
  width: 100%;
  background: url("../images/arseny.jpg") no-repeat center;
  background-size: cover;
}
#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text {
  background: rgba(0, 61, 102, 0.7);
}
#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text p {
  margin-bottom: 0;
  width: 80%;
}
#our_services #our_services_cards .what_we_do:nth-of-type(4) .border_text .square {
  background: #1C829C;
}

footer {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #contact_us {
  width: 85%;
  height: 85%;
  background: #EDEDED;
  display: grid;
  grid-template-rows: 25% 75%;
}
footer #contact_us #address_phone_worktime {
  padding-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer #contact_us #address_phone_worktime h3 {
  color: #BC9633;
  font-size: 1.4vw;
}
footer #contact_us #address_phone_worktime p {
  margin-bottom: 0;
  font-size: 1vw;
}
footer #copyright {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #copyright p {
  font-size: 1.3vw;
  margin-bottom: 0;
}

html body #main_body #main_page #main_page_wrapper #control input {
  width: 150px;
  height: 50px;
}

html body #main_body #our_advantages h2, html body #main_body #about_us h2, #our_services #our_services_header h2, footer #contact_us h2 {
  text-transform: uppercase;
  color: #1C829C;
  padding: 1.5% 0 1.5% 15%;
  margin-bottom: 0;
}

html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(3), html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(1), html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(3), html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(1) {
  display: grid;
  grid-template-columns: 30% auto;
}

html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(4), html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(2), html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(4), html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(2) {
  display: grid;
  grid-template-columns: auto 30%;
}

html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(4) #card_background_seven, html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(3) #card_background_six, html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(2) #card_background_three, html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(1) #card_background_two, html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(4) #card_seven, html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(3) #card_six, html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(2) #card_three, html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(1) #card_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2vw;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  padding-left: 12%;
  padding-right: 12%;
}
html body header {
  position: relative;
  width: 100%;
}
html body header img {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-left: 1%;
  border: 1px solid cornflowerblue;
  background: cornflowerblue;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  z-index: 1;
}
html body header h1 {
  padding-left: calc(1% + 150px + 1%);
  font-size: 2vw;
  color: #FFFFFF;
  background: #6AD1EB;
  line-height: 60px;
  margin-bottom: 0;
}
html body header #custom_nav {
  padding: 0 0 0 calc(1% + 150px + 1%);
  line-height: 50px;
  font-size: 1.5vw;
}
html body header #custom_nav div ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
}
html body header #custom_nav div ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}
html body header #custom_nav div ul li a {
  color: black;
}
html body header #custom_nav div ul li:nth-of-type(1) {
  background: #6AD1EB;
}
html body header #custom_nav div ul li:nth-of-type(1) a {
  color: white;
}
html body #main_body {
  width: 100%;
  height: calc(100% - 66px - 60px);
}
html body #main_body #main_page {
  height: 100%;
  width: 100%;
  background: url("../images/main_first.jpg") no-repeat;
  display: grid;
  grid-template-columns: 25% auto;
}
html body #main_body #main_page #main_page_wrapper {
  grid-column-start: 2;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
html body #main_body #main_page #main_page_wrapper p {
  font-size: 1.5vw;
  font-style: italic;
  color: #6AD1EB;
}
html body #main_body #main_page #main_page_wrapper #control {
  width: 100%;
  display: flex;
}
html body #main_body #main_page #main_page_wrapper #control input {
  background: #6AD1EB;
  border: none;
  font-size: 24px;
  margin-right: 10%;
}
html body #main_body #main_page #main_page_wrapper #control input:nth-of-type(2) {
  background: #FFDD85;
  border: 0;
}
html body #main_body #about_us {
  width: 100%;
}
html body #main_body #about_us #about_us_wrapper {
  background: url("../images/andrew.jpg") no-repeat center;
  width: 100%;
  display: grid;
  grid-template-columns: auto 25%;
}
html body #main_body #about_us #about_us_wrapper #about_us_content {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 15%;
  justify-content: center;
  align-items: center;
}
html body #main_body #about_us #about_us_wrapper #about_us_content p {
  font-size: 20px;
  text-indent: 50px;
}
html body #main_body #our_advantages {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #main_body #our_advantages #our_advantages_wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: calc(97% / 2) auto;
  grid-template-rows: calc(95% / 2) auto;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(1) #card_one {
  grid-column: 1;
  background: url("../images/jon-tyson-265734-unsplash.jpg") no-repeat center;
  background-size: cover;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(2) #card_four {
  background: url("../images/jc-gellidon-1386352-unsplash.jpg") no-repeat center;
  background-size: cover;
  transform: scaleX(-1);
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(3) {
  grid-column: 1;
  grid-row: 2;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(3) #card_five {
  background: url("../images/jon-tyson-265734-unsplash.jpg") no-repeat center;
  background-size: cover;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}
html body #main_body #our_advantages #our_advantages_wrapper .our_advantages_card:nth-of-type(4) #card_eight {
  background: url("../images/jc-gellidon-1386352-unsplash.jpg") no-repeat center;
  background-size: cover;
  transform: scaleX(-1);
}
html body #main_body #our_advantages #our_advantages_border {
  z-index: 9000;
  position: absolute;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: calc(97% / 2) auto;
  grid-template-rows: calc(95% / 2) auto;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
}
html body #main_body #our_advantages #our_advantages_border .card_border {
  margin: 5%;
  border: 2px solid white;
}
html body #main_body #our_advantages #our_advantages_background {
  z-index: 8000;
  position: absolute;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: calc(97% / 2) auto;
  grid-template-rows: calc(95% / 2) auto;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
  color: white;
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(1) #card_background_one {
  background: rgba(255, 221, 133, 0.2);
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(1) #card_background_two {
  background: #ffdd85;
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(2) #card_background_three {
  background: #bc9633;
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(2) #card_background_four {
  background: rgba(188, 150, 51, 0.2);
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(3) #card_background_five {
  background: rgba(106, 209, 235, 0.2);
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(3) #card_background_six {
  background: #6ad1eb;
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(4) #card_background_seven {
  background: #1c829c;
}
html body #main_body #our_advantages #our_advantages_background .card_background:nth-of-type(4) #card_background_eight {
  background: rgba(28, 130, 156, 0.2);
}
html body #main_body #call_us {
  margin: 0 15% 0 15%;
  width: 70%;
  height: 30%;
  background: #EDEDED;
  display: grid;
  grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
html body #main_body #call_us div:nth-of-type(1) {
  grid-row: 1;
  align-self: end;
  justify-self: center;
  color: #6AD1EB;
  font-size: 1.4vw;
}
html body #main_body #call_us div:nth-of-type(1) p {
  margin: 0;
}
html body #main_body #call_us #call_us_main {
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #main_body #call_us #call_us_main #call_us_line {
  width: 100%;
  height: 10%;
  background: #6AD1EB;
  position: absolute;
}
html body #main_body #call_us #call_us_main p {
  margin: 0;
  font-size: 2.5vw;
  position: absolute;
  z-index: 100;
  background: #EDEDED;
  padding-left: 3vw;
  padding-right: 3vw;
}
html body #main_body #call_us #call_us_button {
  grid-row: 3;
  place-self: center;
}

/*# sourceMappingURL=main.css.map */
